body {
	background-color: #b6e3ea;
	font-family: Arial, sans-serif;
}

.container {
	margin: auto;
	width: 50%;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0px 0px 10px #999;
}

h1, h2 {
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

label {
	display: inline-block;
	margin-bottom: 10px;
	font-weight: bold;
}

input[type="text"], input[type="date"], input[type="number"] {
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	border-radius: 3px;
	box-shadow: 0px 0px 5px #ddd;
}

button {
	padding: 10px;
	margin-top: 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

button:hover {
	background-color: #0056b3;
}
